.fileIcon {
    width: 25px;
    height: 25px
}

.link {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer
}

.link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important
}

.previewFile {
    max-height: 100% !important;
    max-width: 100% !important
}