<StackLayout>
    <GridLayout rows="36" columns="auto,*,auto" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round action-bar-button" row="0" col="0" (tap)="currentPath.length - 2 > -1 ? upTo(currentPath[currentPath.length - 2].id) : goBackToProjects()">
        </Button>
        <ScrollView #breadcrumbsScrollView row="0" col="1" orientation="horizontal">
            <StackLayout class="breadcrumbs" orientation="horizontal">
                <ng-container *ngFor="let segment of currentPath; let i = index;">
                    <Label [class.clickable]="i + 1 != currentPath.length" (tap)="upTo(segment.id)" [text]="segment.name"></Label>
                    <Label class="delimiter" *ngIf="i + 1 != currentPath.length" text=" /"></Label>
                    <Label class="delimiter" [text]="' '"></Label>
                </ng-container>
            </StackLayout>
        </ScrollView>
    </GridLayout>
<GridLayout rows="*,auto">
    <GridLayout rowSpan="2" rows="auto, *">
        <GridLayout row="0" [columns]="progressColumns" class="progressbar" *ngIf="showProgressbar">
            <StackLayout col="0" class="progressbar-value"></StackLayout>
        </GridLayout>
        <RadListView row="1" #itemsListView [items]="items" selectionBehavior="None" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" swipeActions="true" *ngIf="!viewFile" id="items" class="list-group" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefresh()">
            <ng-template let-item="item" let-index="index">
                <StackLayout>
                    <GridLayout (tap)="goTo(item)" rows="auto, auto, auto" columns="auto, *, auto" class="list-group-item -separator">
                        <Image row="0" col="0" rowSpan="3" [src]="getIcon(item)" class="thumb"></Image>
                        <Label row="0" col="1" [text]="item.name"></Label>
                        <Label row="1" col="1" [text]="item.size" class="body"></Label>
                        <Label row="2" col="1" [text]="item.modificationDate | date" class="body time"></Label>
                        <StackLayout *ngIf="item.tags" row="0" rowspan="3" col="2" orientation="vertical">
                            <Label [style.color]="tag.textColor" [style.background-color]="tag.color" class="badge" *ngFor="let tag of item.tags" [text]="tag.name"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ng-template>
            <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto">
                <GridLayout columns="auto, auto, auto" col="0" id="left-stack">
                    <GridLayout col="0" class="tagsSwipeContainer" (tap)="editTags($event.object.bindingContext)" id="swipeTags">
                        <Label text="&#xf02c;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout col="1" class="downloadSwipeContainer" (tap)="download($event.object.bindingContext)" id="swipeDownload">
                        <Label text="&#xf381;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout col="2" class="shareSwipeContainer" (tap)="share($event.object.bindingContext)" id="swipeShare">
                        <Label text="&#xf14d;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                </GridLayout>
                <GridLayout columns="auto, auto, auto, auto" col="2" id="right-stack">
                    <GridLayout col="0" class="renameSwipeContainer" (tap)="rename($event.object.bindingContext)" id="swipeRename">
                        <Label text="&#xf044;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout col="1" class="moveSwipeContainer" (tap)="move($event.object.bindingContext)" id="swipeMove">
                        <Label text="&#xf0b2;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout col="2" class="copySwipeContainer" (tap)="copy($event.object.bindingContext)" id="swipeCopy">
                        <Label text="&#xf0c5;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout col="3" class="deleteSwipeContainer" (tap)="delete($event.object.bindingContext)" id="swipeDelete">
                        <Label text="&#xf1f8;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </RadListView>

    </GridLayout>
    <GridLayout row="1">
        <GridLayout columns="*, auto" row="1">
            <Button col="1" (tap)="openNewModal()" text="+" class="fab-button"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>
</StackLayout>