.fileIcon {
    width: 25px;
    height: 25px;
}

.link {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer;
}

.link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.previewFile {
    max-height: 100% !important;
    max-width: 100% !important;
}

.progressbar {
    height: 30;
    margin: 10;
    border-radius: 10;
    background: #ECEFF1;
}

.progressbar-value {
    background: #51BC6B;
}

.documentEditor {
    height: 100%;
    display: block;
}

StackLayout.breadcrumbs {
    padding: 5;
    Label {
        font-size: 20;
    }
    color: rgb(255, 255, 255);
    .delimiter {
        color: rgb(165, 165, 165);
    }
    .clickable {
        text-decoration: underline;
    }
}

ejs-treeview::ng-deep {
    & > .e-list-parent.e-ul {
        height: calc(100vh - 13rem);
        padding: 0;
    }
}