<div class="navigation">
    <button class="btn btn-success" (click)="
            currentPath.length - 2 > -1
                ? upTo(currentPath[currentPath.length - 2].id)
                : goBackToProjects()
        ">
        {{'general.back' | translate}}
    </button> &nbsp;

    <button id="newFolderBtn" type="button" (click)="openNewFolderModal(newFolder)" class="btn btn-primary">
        {{'files.newFolder' | translate}}
    </button>
    <div class="btn-group float-right">
        <button type="button" id="btnList" class="btn btn-default">
            <span class="fa fa-list"></span>
        </button>
        <button type="button" id="btnNormal" class="btn btn-default">
            <span class="fa fa-th"></span>
        </button>
    </div>
    <br /><br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item" [class.active]="currentPath.length == 0">
            <a [class.link]="currentPath.length != 0" (click)="currentPath.length != 0 && goBackToProjects()">{{'files.files' | translate}}</a>
        </li>
        <li *ngFor="let path of currentPath; let last = last" [class.active]="last" class="breadcrumb-item">
            <a class="link" *ngIf="!last" (click)="upTo(path.id)">
                {{ path.name }}
            </a>
            <span *ngIf="last">{{ path.name }}</span>
        </li>
    </ol>
</div>

<div>
    <div id="dropArea">
        <ejs-uploader maxFileSize="21474836480" #uploader locale="de" [asyncSettings]="settings" (success)="onUploadSuccess($event)" (chunkUploading)="onFileUpload($event)" (uploading)="onFileUpload($event)">
        </ejs-uploader>
    </div>

    <context-menu #contextMenu>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="goTo($event.item, viewFileModal)">
            <i class="far fa-circle"></i> {{'files.open' | translate}}
        </ng-template>
        <ng-template contextMenuItem [subMenu]="tagsSubMenu">
            <i class="fas fa-tags"></i> {{'files.tags' | translate}}
        </ng-template>
        <context-menu #tagsSubMenu>
            <ng-template *ngFor="let tag of tags" contextMenuItem (execute)="toggleTag(tag.id, $event.item)">
                {{ tag.name }}
            </ng-template>
        </context-menu>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="download($event.item)">
            <i class="fas fa-cloud-download-alt"></i> {{'files.download' | translate}}
        </ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="share($event.item, shareModal)">
            <i class="far fa-share-square"></i> {{'files.share' | translate}}
        </ng-template>
        <ng-template contextMenuItem divider="true"></ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="rename($event.item, renameModal)">
            <i class="fas fa-pen"></i> {{'files.rename' | translate}}
        </ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="move($event.item)">
            <i class="fa fa-arrows-alt"></i> {{'files.move' | translate}}
        </ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="copy($event.item)">
            <i class="fas fa-copy"></i> {{'files.copy' | translate}}
        </ng-template>
        <ng-template class="ctxMenuItem" contextMenuItem (execute)="delete($event.item)">
            <i class="fas fa-trash"></i> {{'files.delete' | translate}}
        </ng-template>
    </context-menu>

    <div id="files" class="table-responsive">
        <div class="clear"></div>
        <table #files class="table  table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td>{{'general.name' | translate}}</td>
                    <td>{{'files.tags' | translate}}</td>
                    <td>{{'general.creationDate'}}</td>
                    <td>{{'general.size' | translate}}</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" (click)="goTo(item, viewFileModal)" [contextMenu]="contextMenu" [contextMenuSubject]="item">
                    <td>
                        <img [src]="getIcon(item)" class="fileIcon" />
                    </td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div *ngIf="item.tags.length">
                            <div class="d-inline" *ngFor="let tag of item.tags">
                                <span [style.color]="tag.textColor" [style.background-color]="
                                        tag.color
                                    " class="badge">{{ tag.name }}</span> &nbsp;
                            </div>
                        </div>
                    </td>

                    <td>{{ item.createdAt | date:"medium" }}</td>
                    <td>{{ item.size }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #viewFileModal let-modal>
    <div class="modal-header">
        <div class="d-flex justify-content-between w-100 px-5">
            <button class="btn btn-light" (click)="changeCurrentFile(-1)"><i class="fa fa-chevron-left"></i></button>
            <h4 class="modal-title">{{currentFile.name}}</h4>
            <button class="btn btn-light" (click)="changeCurrentFile(1)"><i class="fa fa-chevron-right"></i></button>
        </div>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img *ngIf="getType() == 'image'" class="previewFile img-fluid" alt="Laden..." [src]="getCurrentFileSrc()" />
        <video class="previewFile" [attr.src]="getCurrentFileSrc()" controls *ngIf="getType() == 'video'">
            {{'errors.oldBrowser' | translate}}
        </video>
        <audio controls [src]="getCurrentFileSrc()" *ngIf="getType() == 'audio'">
            {{'errors.oldBrowser' | translate}}
        </audio>
        <ngx-extended-pdf-viewer *ngIf="getType() == 'pdf'" [src]="getCurrentFileSrc()" height="70vh" useBrowserLocale="true"></ngx-extended-pdf-viewer>
        <onlyoffice *ngIf="getType() == 'document'" [config]="documentEditorConfig" class="documentEditor"></onlyoffice>
        <div *ngIf="getType() == 'other'" class="alert alert-warning">
            Diese Datei wird leider nicht unterstützt.
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div>
            <button class="btn btn-primary" (click)="download(currentFile)"><i class="fas fa-download"></i></button>
            <button class="btn btn-success mr-2" (click)="share(currentFile, shareModal)"><i class="fas fa-share-square"></i></button>

            <button class="btn btn-primary" (click)="rename(currentFile)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-success" (click)="move(currentFile)"><i class="fas fa-arrows-alt"></i></button>
            <button class="btn btn-warning" (click)="copy(currentFile)"><i class="fas fa-arrows-alt"></i></button>
            <button class="btn btn-danger" (click)="delete(currentFile)"><i class="fas fa-trash-alt"></i></button>
        </div>
        <small>{{ currentFile.creator.username }} am {{ currentFile.createdAt | date:"medium"}}<br>{{ currentFile.size }}</small>
    </div>
  </ng-template>

<ng-template #newFolder let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Neuer Ordner</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="newFolderModalInvalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="newFolderForm">
            <div class="form-group">
                <label for="name">Name: </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Name des neuen Ordners" formControlName="newFolderName" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="
                !newFolderForm.invalid
                    ? modal.close('Save click')
                    : (newFolderModalInvalidMessage = true)
            ">
            Erstellen
        </button>
    </div>
</ng-template>

<ng-template #renameModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Element umbenennen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="renameItemFormInvalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="renameItemForm">
            <div class="form-group">
                <label for="name">Name: </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Name des Elements" formControlName="renameItemName" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="
                !renameItemForm.invalid
                    ? modal.close('Save click')
                    : (renameItemFormInvalidMessage = true)
            ">
            Umbenennen
        </button>
    </div>
</ng-template>

<ng-template #shareModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Freigeben</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input class="form-control" type="text" #shareLinkField value="{{shareLink}}" placeholder="Link wird generiert..." readonly>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="copyShareLink(shareLinkField)">Link in die Zwischenablage
            kopieren</button>
        <button class="btn btn-primary" (click)="openShareLinkInNewTab()">In neuem Tab öffnen</button>
    </div>
</ng-template>