<button id="newBtn" type="button" class="btn btn-primary" (click)="openNewModal(newNotificationModal)">
    Neue Benachrichtigung
</button>
<br /><br />
<div class="table-responsive">
    <table id="notifications" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Empfänger</th>
                <th>Thema</th>
                <th>Nachricht</th>
                <th>Gelesen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let notification of notifications">
                <td>{{ notification.receivers | displayUsernames }}</td>
                <td>{{ notification.headline }}</td>
                <td [innerHTML]="notification.content | safe:'html'"></td>
                <td>
                    <span class="text-success">{{ notification.seenBy | displayUsernames }}</span><br>
                    <span class="text-danger">{{ (notification.receivers | subtractArray: notification.seenBy) | displayUsernames }}</span>
                </td>
                <td>
                    <button class="btn btn-link text-danger" (click)="deleteNotification(notification)">
                        Löschen
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />
<p>
    <small><b>Wichtig:</b> es werden nur diejenigen Benachrichtigungen angezeigt,
        die von Ihnen erstellt worden sind.</small>
</p>

<ng-template #newNotificationModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Neue Benachrichtigung
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="newNotificationForm">
            <div class="form-group">
                <label for="headline">Thema: </label>
                <input type="text" class="form-control" id="headline" formControlName="headline" placeholder="Thema" />
            </div>
            <br />
            <div class="form-group">
                <label for="content">Nachricht: </label>
                <textarea class="form-control" formControlName="content" id="content" placeholder="Nachricht"></textarea>
            </div>
            <br />
            <div class="form-group">
                <label for="receivers" class="">Empfänger:</label>
                <select multiple class="custom-select" formControlName="receivers">
                    <option *ngFor="let user of allusers" value="{{ user.id }}">{{ user.username }}</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="importance">Thema: </label>
                <div class="custom-control custom-radio bg-success py-2 px-5 my-1">
                    <input type="radio" id="1" formControlName="importance" value="success" class="custom-control-input">
                    <label class="custom-control-label" for="1">Erfolg</label>
                </div>
                <div class="custom-control custom-radio bg-info py-2 px-5 my-1">
                    <input type="radio" id="2" formControlName="importance" value="info" class="custom-control-input">
                    <label class="custom-control-label" for="2">Information</label>
                </div>
                <div class="custom-control custom-radio bg-warning py-2 px-5 my-1">
                    <input type="radio" id="3" formControlName="importance" value="warning" class="custom-control-input">
                    <label class="custom-control-label" for="3">Warnung</label>
                </div>
                <div class="custom-control custom-radio bg-danger py-2 px-5 my-1">
                    <input type="radio" id="4" formControlName="importance" value="danger" class="custom-control-input">
                    <label class="custom-control-label" for="4">Gefahr</label>
                </div>
                
            </div>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="
                !newNotificationForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            ">
            Senden
        </button>
    </div>
</ng-template>