<ul ngbNav #nav="ngbNav" [activeId]="settings && settings[0] ? settings[0].id : undefined" class="nav-tabs" (navChange)="onNavigate($event)">
  <li [ngbNavItem]="group.id" *ngFor="let group of settings">
    <a ngbNavLink><i [class]="'fas fa-' + group.iconName"></i> {{group.name}}</a>
    <ng-template ngbNavContent>
      <div class="card-deck mt-3">
        <div class="card" *ngFor="let setting of group.children">
          <div class="card-header">
            <i [class]="'fas fa-' + setting.iconName"></i> {{setting.name}}
          </div>
          <div class="card-body">
            <div *ngIf="setting.type == 'switch'">
              <p>{{setting.description}}</p>
              <ui-switch [(ngModel)]="setting.value" (change)="save(setting.id, !setting.value)"></ui-switch>
            </div>
            <div ngbDropdown class="d-inline-block" *ngIf="setting.type=='language'">
              <p>{{setting.description}}</p>
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="flag-icon flag-icon-{{setting.value == 'en' ? 'gb' : setting.value}}"></i> {{ getNameFromValue(setting.options, setting.value) }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="setting.value = option.value; updateLang(option.value); save(setting.id, option.value, true)" *ngFor="let option of setting.options"><i class="flag-icon flag-icon-{{option.value == 'en' ? 'gb' : option.value}}"></i> {{option.name}}</button>
              </div>
            </div>
            <div *ngIf="setting.type == 'html'">
              <p>{{setting.description}}</p>
              <div [innerHtml]="setting.value | safe:'html'"></div>
            </div>
            <div *ngIf="setting.type == 'webview'" class="embed-responsive embed-responsive-16by9">
              <p>{{setting.description}}</p>
              <iframe class="embed-responsive-item" [src]="replaceAPIUrl(setting.value) | safe:'resourceUrl'" sandbox="cross-origin"></iframe>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>


<div [ngbNavOutlet]="nav" class="mt-2"></div>