<button id="newBtn" type="button" class="btn btn-primary" (click)="openNewModal(newBugModal)">
    Neuer Bug/Verbesserungsvorschlag
</button>
<br /><br />
<br /><br />
<div class="table-responsive">
    <table id="notifications" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Ort</th>
                <th>Thema</th>
                <th>Beschreibung</th>
                <th>Autor</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bug of bugs">
                <td>{{ bug.type }}</td>
                <td>{{ bug.location }}</td>
                <td>{{ bug.title }}</td>
                <td>{{ bug.description }}</td>
                <td>{{ bug.author }}</td>
                <td>
                    <button class="btn btn-link" (click)="deleteBug(bug)">
                        Löschen
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #newBugModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Neuer Fehler / Verbesserungsvorschlag
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>

        <form [formGroup]="newBugForm">
            <div class="form-group">
                <label for="headline">Typ: </label>
                <select formControlName="type" class="form-control" id="type">
                    <option class="" type="checkbox" name="type" value="bug"
                        >Bug</option
                    >
                    <option
                        class=""
                        type="checkbox"
                        name="type"
                        value="suggestion"
                        >Verbesserungsvorschlag</option
                    >
                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="place">Ort:</label>

                <input formControlName="place" name="place" type="text" class="form-control" id="place" placeholder="Ort" />
            </div>
            <br />
            <div class="form-group">
                <label for="headline">Überschrift:</label>
                <input name="headline" formControlName="headline" type="text" class="form-control" id="headline" placeholder="Überschrift" />
            </div>
            <br />
            <div class="form-group">
                <label for="description">Beschreibung</label>
                <textarea name="description" formControlName="description" type="text" class="form-control" id="description" placeholder="Beschreibung"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="
                !newBugForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            ">
            Senden
        </button>
    </div>
</ng-template>