.action-bar {
    .action-bar-title {
        .thumb {
            width: 40;
            height: 40;
            border-radius: 50%;
            margin-right: 10;
        }
        .title {
            font-weight: bold;
            font-size: 17;
        }
        .subtitle {
            font-weight: normal;
            font-size: 12;
        }
    }
    .action-item {
        .icon {
            font-size: 25;
            padding-right: 15;
            &.phone {
                padding-right: 5;
            }
        }
    }
}

.dialog {
    Image {
        margin: 10;
        margin-right: 30;
        margin-left: 30;
        margin-bottom: 0;
    }
    Label {
        margin: 10;
        margin-top: 5;
        text-align: center;
    }
}


.message-box {
    padding: 5px;
}

.emoji-picker {
    position: absolute;
    bottom: 50px;
    left: 10px;
}

.message-box {
    width: 100%;
    align-items: flex-end;
    .icon {
        padding: 5;
        flex-grow: 0;
        border-radius: 50%;
    }
    .text-area {
        flex-grow: 1;
        align-items: flex-end;
        .text-view {
            flex-grow: 1;
        }
    }
}

.message-box .icon {
    font-size: 24;
    margin: 0 0 5 0;
    padding: 0;
    background-color: #ffffff;
    border-color: transparent;
    border-width: 1;
    width: 30;
    height: 30;
    color: #979797;
}

.message-box .text-area {
    background: white;
    border-radius: 50%;
    padding: 0 5;
    margin: 5;
}

.message-box .text-area .text-view {
    flex-grow: 1;
    border-color: transparent;
    background-color: transparent;
}

.message-box .send {
    font-size: 30;
    width: 45;
    height: 45;
    color: white;
    background-color: #2b669a;
}

.wallpaper {
    background-image: url("~/assets/backgrounds/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.messages-area {
    background-image: url("~/assets/backgrounds/1.png");
    background-repeat: no-repeat;
}

div.messages-header {
    position: fixed;
    margin-top: -28px;
    margin-left: -26px;
    background: #f2f2f2;
    padding: 5px;
    z-index: 4;
}

.messages-header.thumb {
    float: left;
    height: 60px;
    padding: 8px;
}

.messages-header.title {
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
}

.messages {
    padding-top: 72px;
    padding-bottom: 72px;
}

.message-box {
    padding: 2px;
    position: fixed;
    bottom: 0px;
    margin-left: -24px;
    background-color: #f2f2f2;
}

.message-box {
    &.mobile {
        background-color: transparent;
    }
}