<div class="messages-area">
    <div class="speech-wrapper">
        <div class="message-wrapper" *ngIf="messages.length == 0">
            <div class="msg-wrapper center">
                <p class="system-msg">
                    Noch keine Nachrichten. Beginne jetzt!
                </p>
            </div>
        </div>
        <div
            *ngFor="
                let message of messages;
                let idx = index;
                trackBy: trackByFn
            "
            class="msg-wrapper"
            [class.continuation]="!isContinuation(idx)"
        >
            <div *ngIf="message.system" class="msg-wrapper center">
                <p class="system-msg new-day">{{ message.text }}</p>
            </div>
            <div
                class="bubble"
                [class.alt]="message.fromMe"
                *ngIf="!message.system"
            >
                <p *ngIf="!isContinuation(idx)" class="name alt">
                    {{ message.sendername }}
                </p>
                <p class="message">{{ message.text }}</p>
                <div
                    *ngIf="!message.sender"
                    class="addon fa"
                    [innerHtml]="getIcon(message)"
                    [class.blue]="isViewed(message)"
                ></div>
                <span class="timestamp">
                    {{ message.created | date: "shortTime" }}
                </span>
            </div>
        </div>
        <br /><br /><br /><br />
    </div>
</div>
