<ListView (loaded)="listviewLoaded($event)" [visibility]="(showingMedia ? 'collapse' : 'visible')" #messagesListView separatorColor="transparent" class="messages-area" [items]="messages">
    <ng-template let-message="item" let-index="index">
        <FlexboxLayout class="messages">
            <StackLayout [shadow]="2" cornerRadius="20" [class.image]="message.imageSrc" class="message-bubble" [class.continuation]="isContinuation(index)" [class.myself]="message.fromMe" [class.system]="message.system">
                <FlexboxLayout class="message-bubble-content">
                    <StackLayout>
                        <Label class="sendername" *ngIf="!isContinuation(index) && !message.system && !message.fromMe" [text]="' ' + message.sendername"></Label>
                        <Image class="message-text" (loaded)="scrollFromImageToBottom()" (tap)="displayImage(index)" *ngIf="message.imageSrc" [src]="getImageSrc(message.imageSrc)">
                        </Image>
                        <GridLayout *ngIf="message.contactSrc" rows="auto, auto" columns="auto, auto, auto" class="contact">
                            <Image row="0" col="0" class="image" rowspan="2" src="~/assets/attachment/contact.png"></Image>
                            <Label row="0" col="1" class="name" [text]="message.contactSrc.name"></Label>
                            <Label row="1" col="1" class="number" [text]="message.contactSrc.number"></Label>
                            <Button row="0" col="2" rowspan="2" text="&#xf0c5;" width="40" height="40" color="#19a9e7" borderColor="transparent" class="fas no-border round" (tap)="addContact(message.contactSrc)"></Button>
                        </GridLayout>
                        <Label class="message-text" *ngIf="!message.imageSrc && !message.contactSrc" [text]="message.text" textWrap="true"></Label>

                    </StackLayout>

                    <FlexboxLayout class="meta">
                        <Label [text]="message.created | date: 'shortTime'" class="time"></Label>
                        <Label *ngIf="message.fromMe && isNotSent(message)" text="&#xf017;" class="check fas"></Label>
                        <Label *ngIf="message.fromMe && isSent(message)" text="&#xf00c;" class="check fas"></Label>
                        <Label *ngIf="message.fromMe && isDefault(message)" text="&#xf560;" class="check fas" [class.blue]="isViewed(message)"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </StackLayout>
        </FlexboxLayout>
    </ng-template>
</ListView>

<StackLayout *ngIf="showingMedia">
    <GridLayout rows="36" columns="auto,*,auto" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round" row="0" col="0" (tap)="test()">
        </Button>
        <StackLayout row="0" col="1">
            <Label [text]="currentImageName" class="text-center action-bar-title"></Label>
            <Label [text]="'am ' + (currentImageDate | date:'fullDate') + ', um ' + (currentImageDate | date:'shortTime') + ' Uhr'" class="text-center action-bar-small"></Label>
        </StackLayout>
        <Button row="0" col="2" text="&#xf019;" class="fas no-border round" (tap)="downloadCurrentImage()"></Button>
    </GridLayout>
    <ImageSwipe [items]="allImageSources" imageUrlProperty="src" (pageChanged)="onPageChanged($event)" [pageNumber]="currentImageIndex" backgroundColor="#000000">
    </ImageSwipe>
</StackLayout>