<div class="messages-area">
    <div class="speech-wrapper">
        <div class="message-wrapper" *ngIf="messages.length == 0">
            <div class="msg-wrapper center">
                <p class="system-msg">
                    Noch keine Nachrichten. Beginne jetzt!
                </p>
            </div>
        </div>
        <div *ngFor="
                let message of messages;
                let idx = index;
                trackBy: trackByFn
            " class="msg-wrapper" [class.continuation]="!isContinuation(idx)">
            <div *ngIf="message.system" class="msg-wrapper center">
                <p class="system-msg new-day">{{ message.text }}</p>
            </div>
            <div class="bubble" [class.alt]="message.fromMe" *ngIf="!message.system">
                <p *ngIf="!isContinuation(idx)" class="name alt">
                    {{ message.sender.username }}
                </p>

                <img class="message message-image" (click)="displayImage(idx)" *ngIf="message.imageSrc" [src]="getImageSrc(message.imageSrc)">

                <table *ngIf="message.contactSrc" class="contact">
                    <tr>
                        <td rowspan="2"><img class="contact image" src="assets/attachment/contact.png"></td>
                        <td>
                            <p class="name">{{message.contactSrc.name}}</p>
                        </td>
                        <td rowspan="2"><button width="40px" height="40px" class="contact-copy-btn btn" (click)="addContact(message.contactSrc)"><i class="fas fa-copy"></i></button></td>
                    </tr>
                    <tr>
                        <td>
                            <p class="number">{{message.contactSrc.number}}</p>
                        </td>
                    </tr>
                </table>
                <p class="message" *ngIf="!message.imageSrc && !message.contactSrc">{{ message.content }}</p>


                <div *ngIf="message.fromMe" class="addon fa" [innerHtml]="getIcon(message)" [class.blue]="isViewed(message)"></div>
                <span class="timestamp">
                    {{ message.date | date: "shortTime" }}
                </span>
            </div>
        </div>
        <br /><br /><br /><br />
    </div>
</div>