<navbar [headline]="'dashboard.dashboard' | translate"></navbar>
<PullToRefresh (refresh)="refresh($event)">
    <ScrollView>
        <StackLayout class="content">
            <StackLayout class="card">
                <Label [text]="'dashboard.remainingDiskSpace' | translate" class="headline"></Label>
                <RadPieChart height="200" allowAnimation="true">
                    <DonutSeries seriesName="pie" tkPieSeries selectionMode="DataPoint" outerRadiusFactor="0.9" expandRadius="0.4" outerRadiusFactor="0.7" innerRadiusFactor="0.4" [items]="spaceChartData" valueProperty="amount" legendLabel="name"></DonutSeries>
                    <RadLegendView tkPieLegend position="Right" title="" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
                    <Palette tkPiePalette seriesName="pie">
                        <PaletteEntry tkPiePaletteEntry fillColor="#85C8FF" strokeColor="#85C8FF"></PaletteEntry>
                        <PaletteEntry tkPiePaletteEntry fillColor="#CFCFCF" strokeColor="#CFCFCF"></PaletteEntry>
                        <PaletteEntry tkPiePaletteEntry fillColor="#E6E6E6" strokeColor="#E6E6E6"></PaletteEntry>
                    </Palette>
                </RadPieChart>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'events.nextEvents' | translate"></Label>
                <Label textWrap="true" *ngFor="let date of dates">
                    <FormattedString textWarp="true">
                        <Span textWarp="true" text="{{ date.name }}&#xA;"
                            style="font-weight: bold;font-size: 15; padding-top:5;"></Span>
                        <Span textWarp="true" text="am {{ date.date }}, {{ date.date }} ab {{
                                date.starttime
                            }} Uhr&#xA;"></Span>
                        <Span textWarp="true" text="{{ date.countdown }}&#xA;" color="#337ab7"></Span>
                    </FormattedString>
                </Label>
                <Label [text]="'events.none' | translate" *ngIf="!dates || dates.length == 0"></Label>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'dashboard.version' | translate"></Label>
                <Label textWrap="true" text="{{ version }}"></Label>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'dashboard.whatsnew' | translate"></Label>
                <Label textWrap="true" *ngFor="let version of whatsnew">
                    <FormattedString textWarp="true">
                        <Span textWarp="true" text="{{ version.version }}&#xA;"
                            style="font-weight: bold;font-size: 15; padding-top:10;"></Span>
                        <Span *ngFor="let change of version.changes" textWarp="true" text="- {{ change }}&#xA;"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</PullToRefresh>