<div class="row">
    <div class="col-md-4 col-sm-6 d-flex">
        <div class="card flex-fill mb-3">
            <div class="card-body">
                    <h5 class="card-title d-inline">{{ "dashboard.remainingDiskSpace" | translate }}</h5>
                    <button class="btn btn-outline-primary float-right px-2 py-1 m-1" (click)="updateChart()">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <div style="display: block">
                        <canvas baseChart [data]="spaceChartData" [labels]="spaceChartLabels" [chartType]="spaceChartType" [colors]="spaceChartColors" [options]="spaceChartOptions">
                        </canvas>
                    </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": (lastUpdated.space | howLongAgo)} }}</small>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 d-flex">
        <div class="card flex-fill mb-3">
            <div class="card-body px-0 pb-0">
                <h5 class="card-title px-3">{{ "notifications.notifications" | translate }}</h5>
                <div class="list-group messages">
                    <div *ngFor="let notification of notifications"  class="border-right-0 border-left-0 list-group-item list-group-item-action list-group-item-{{notification.theme}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ notification.headline }}</h5>
                            <small>{{notification.howLongAgo }}</small>
                        </div>
                        <p class="mb-1" markdown ngPreserveWhitespaces>{{notification.content}}</p>
                        <div class="d-flex justify-content-between">
                            <small>{{notification.creator.username}} {{ "general.atDate" | translate}} {{notification.createdAt | date}}</small>
                            <button type="button" (click)="seen(notification)" class="close"><span>&times;</span></button>
                        </div>
                    </div>
                </div>
                <span class="text-muted pl-3" *ngIf="notifications.length == 0">{{ "notifications.none" | translate }}</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": (lastUpdated.notifications | howLongAgo)} }}</small>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 d-flex">
        <div class="card flex-fill mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ "events.nextEvents" | translate }}</h5>
                <div class="datelist">
                    <div *ngFor="let event of dates" class="event" routerLink="/calendar/{{event.id}}">
                        <span class="headline">{{event.headline}}</span><br>
                        <i class="m-1 fas fa-calendar-day"></i><span class="text-muted">{{ "general.startingAtDate" | translate:{"weekday": (event.start | date:"EEEE"), "day": (event.start | date:"shortDate"), "time": (event.start | date:"shortTime")} }}</span><br>
                        <i class="m-1 fas fa-map-marker-alt"></i><span class="text-muted">{{ event.location }}</span><br>
                        <i class="m-1 fas fa-stopwatch text-primary"></i><span class="text-primary">{{ 'events.countdown' | translate:{'countdown':event.countdownTime} }}</span>
                        <br />
                    </div>
                </div>
                <span class="text-muted" *ngIf="!dates || dates.length == 0">{{ "events.none" | translate }}</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": lastUpdated.events | howLongAgo} }}</small>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 d-flex">
        <div class="card flex-fill mb-3">
            <div class="card-body px-0 pb-0">
                <h5 class="card-title px-4">{{"tasks.tasks" | translate}}</h5>
                <div class="list-group-flush" *ngIf="tasks.length > 0">
                    <button (click)="displayTask(taskModal, task)" class="list-group-item list-group-item-action" *ngFor="let task of tasks">
                        <small>{{task.project.name}}</small>
                        <div class="d-flex w-100 justify-content-between text-right">
                            <h5 class="card-title">{{task.title}}</h5>
                            <small>{{'tasks.dueShort' | translate:{'formatted': task.due | howLongAgo } }}</small>
                          </div>
                          <small class="card-text">{{task.description}}</small>
                          <small class="d-block mt-1">{{task.creator.username}}, {{task.createdAt | date:'shortDate'}}</small>
                    </button>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": lastUpdated.tasks | howLongAgo} }}</small>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 d-flex">
            <div class="card flex-fill mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ "dashboard.whatsnew" | translate }}</h5>
                <div class="p-0">
                    <ejs-accordion expandMode="Single" *ngFor="let version of whatsnew">
                        <div>
                            <div>
                                <div>{{ version.version }}</div>
                            </div>
                            <div>
                                <div>
                                    <ul>
                                        <li *ngFor="let change of version.changes">
                                            {{ change }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ejs-accordion>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": lastUpdated.changelog | howLongAgo} }}</small>
            </div>
            </div>
        </div>
    <div class="col-md-4 col-sm-6 d-flex">
        <div class="card flex-fill mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ "dashboard.version" | translate }}</h5>
                <div class="alert alert-primary">
                    <span>{{version.currentVersion}}</span><br>
                    <small>Containerizer v{{version.containerizerVersion}}</small>
                </div>
                <div class="alert alert-warning" *ngIf="version.updatesAvalible">
                    {{version.updateCount}} {{"dashboard.updatesAvalible" | translate}}<br>
                    <button class="btn btn-link pl-0 d-block" (click)="viewUpdateDetails = !viewUpdateDetails">{{(viewUpdateDetails ? "general.hideDetails" : "general.showDetails") | translate}}</button>
                    <div *ngIf="viewUpdateDetails" class="my-2">
                        <span *ngFor="let t of version.updates" class="d-block">{{t}}</span>
                    </div>
                    <button class="btn btn-outline-primary my-2" (click)="update()">{{"general.update" | translate}}{{updating ? "..." : ""}}</button>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ "general.lastUpdated" | translate:{"time": lastUpdated.version | howLongAgo} }}</small>
            </div>
        </div>
    </div>
  </div>