<navbar [headline]="'dashboard.dashboard' | translate"></navbar>
<PullToRefresh (refresh)="refresh($event)">
    <ScrollView>
        <StackLayout class="content">
            <StackLayout class="card">
                <Label [text]="'dashboard.remainingDiskSpace' | translate" class="headline"></Label>
                <Label textWarp="true">
                    <FormattedString textWarp="true" >
                        <Span textWarp="true" *ngFor="let d of spaceChartData" [text]="d.name + ': ' + d.amount + ' &#xa;&#xa;&#xa;'"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'events.nextEvents' | translate"></Label>
                <Label textWrap="true" *ngFor="let event of dates">
                    <FormattedString textWarp="true">
                        <Span textWarp="true" [text]="event.headline" style="font-weight: bold;font-size: 15; padding-top:5;"></Span>
                        <Span text="&#xA;&#xf783;   " class="fas"></Span>
                        <Span textWarp="true" [text]="'general.startingAtDate' | translate:{'weekday': (event.start | date:'EEEE'), 'day': (event.start | date:'shortDate'), 'time': (event.start | date:'shortTime')}"></Span>
                        <Span text="&#xA;"></Span>
                        <Span textWarp="true" class="fas" [text]="'&#xf3c5;   ' + event.location + '&#xA;'"></Span>
                        <Span textWarp="true" class="fas" text="&#xf2f2;   " color="#337ab7"></Span>
                        <Span textWarp="true" class="fas" [text]="'events.countdown' | translate:{'countdown':event.countdownTime}" color="#337ab7"></Span>
                    </FormattedString>
                </Label>
                <Label [text]="'events.none' | translate" *ngIf="!dates || dates.length == 0"></Label>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'dashboard.version' | translate"></Label>
                <Label textWrap="true" text="{{ version }}"></Label>
            </StackLayout>
            <StackLayout class="card">
                <Label class="headline" [text]="'dashboard.whatsnew' | translate"></Label>
                <Label textWrap="true" *ngFor="let version of whatsnew">
                    <FormattedString textWarp="true">
                        <Span textWarp="true" text="{{ version.version }}&#xA;"
                            style="font-weight: bold;font-size: 15; padding-top:10;"></Span>
                        <Span *ngFor="let change of version.changes" textWarp="true" text="- {{ change }}&#xA;"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</PullToRefresh>