<div *ngFor="let notification of notifications" [class]="notification.type + ' alert alert-dismissible'">
    <button (click)="makeNotificationSeen(notification)" type="button" class="seen btn btn-primary  float-right btn-lg">
        Gelesen
    </button>
    <strong>{{ notification.headline }}</strong> {{ notification.content }}
    <br /><br /><small><b>{{ notification.sender }}</b> am {{ notification.date }} um
        {{ notification.time }} Uhr</small>
</div>
<div *ngIf="notifications.length > 0"><br><br><br></div>


<div class="control-section">
    <ejs-dashboardlayout [style.visibility]="showDashboardLayout ? 'visible' : 'hidden'" id='defaultLayout' [allowDragging]="false" [allowFloating]="false" [columns]="3" #defaultLayout [cellSpacing]='cellSpacing'>
        <div class="e-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="1">
            <div class="card">
                <div class="card-header">
                    Verfügbarer Speicherplatz
                </div>
                <div class="card-body">
                    <div style="display: block">
                        <canvas baseChart [data]="spaceChartData" [labels]="spaceChartLabels" [chartType]="spaceChartType" [colors]="spaceChartColors" [options]="spaceChartOptions">
                        </canvas>
                    </div>
                    <!--<button class="btn btn-primary" (click)="updateChart()">-->
                    <button class="btn btn-primary">
                        Aktualisieren
                    </button>
                </div>
            </div>
        </div>
        <div class="e-panel" data-row="0" data-col="1" data-sizeX="1" data-sizeY="1">
            <div class="card">
                <div class="card-header">
                    What's new
                </div>
                <div class="card-body">
                    <ejs-accordion expandMode="Single" *ngFor="let version of whatsnew">
                        <div>
                            <div>
                                <div>{{ version.version }}</div>
                            </div>
                            <div>
                                <div>
                                    <ul>
                                        <li *ngFor="let news of version.news">
                                            {{ news }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ejs-accordion>
                </div>
            </div>
        </div>
        <div class="e-panel" data-row="0" data-col="2" data-sizeX="1" data-sizeY="1">
            <div class="card">
                <div class="card-header">
                    Nächste Termine
                </div>
                <div class="card-body">
                    <ol>
                        <li *ngFor="let date of dates">
                            am {{ date.weekday }}, {{ date.date }} um {{ date.starttime }} Uhr<br /><b>
                                noch {{ date.countdown }}</b>
                            <br /><span class="headline">Filmen der zu Ehrenden</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </ejs-dashboardlayout>
</div>