.fullscreenoverlay {
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*height: 100vh;
		width: 100vw;*/
  z-index: 45628;
  /* neu */
  display: table;
  height: 100%;
  width: 100%;
}

.contentholder {
  margin: 50px;

  /*border: 1px solid red;*/

  height: 100%;
}

.fullscreenoverlay .header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+36,1ebf84+71,179343+96,25ba79+100 */
  background: #7db9e8;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #7db9e8 0%,
    #2989d8 36%,
    #1ebf84 71%,
    #179343 96%,
    #25ba79 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #7db9e8 0%,
    #2989d8 36%,
    #1ebf84 71%,
    #179343 96%,
    #25ba79 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #7db9e8 0%,
    #2989d8 36%,
    #1ebf84 71%,
    #179343 96%,
    #25ba79 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#25ba79', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  padding: 50px;
  padding-top: 100px;
  padding-bottom: 40px;
  color: white;
  display: table-row;
}

.fullscreenoverlay .header p {
  font-size: 4em;
  padding-left: 50px;
}

.fullscreenoverlay .header small {
  font-size: 1.3em;
  padding-left: 50px;
  margin-bottom: 15px;
}
