.sidedrawer {
    margin-bottom: -100;
}

.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: #fff;
    background-color: #428bca;
    height: 70;
    width: 70;
    font-size: 50;
    padding: 10;
    padding-left: 15;
    margin-bottom: 5;
    margin-top: 20;
}

.sidedrawer .sidedrawer-header {
    background-image: url("~/assets/loginbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 4 solid #f5f5f5;
    margin-bottom: 4;
}

.sidedrawer-header Button {
    width: 50;
    height: 50;
    color: #fff;
    border-color: transparent;
    font-size: 20;
    vertical-align: top;
}

.sidedrawer-header-brand {
    font-weight: bold;
}

.sidedrawer .sidedrawer-header .sidedrawer-header-brand, .sidedrawer-header-footnote {
    color: #fff;
}

.sidedrawer .sidedrawer-content,
.sidedrawer-button {
    background-color: #f5f5f5;
}

.sidedrawer .sidedrawer-content .sidedrawer-list-item {
    font-size: 15;
}

.sidedrawer-button {
    color: #428bca;
    text-align: left;
    border-color: transparent;
    border-width: 1;
}

.sidedrawer-button:highlighted,
.sidedrawer-button:highlighted FormattedText,
.sidedrawer-button:highlighted Span {
    background-color: #d4d4d4;
}

.sidedrawer .sidedrawer-content .sidedrawer-list-item.active,
.active .sidedrawer-button {
    background-color: #428bca;
    color: #fff;
}