<navbar (toggleNav)="showNav = $event" *ngIf="currentUser && !isShare && showEverything"></navbar>
<div [class.container-fluid]="currentUser && !isShare" *ngIf="showEverything">
    <div [class.row]="currentUser && !isShare">
        <app-sidebar [changed]="showNav" *ngIf="currentUser && !isShare"></app-sidebar>
        <main [attr.role]="currentUser && !isShare ? 'main' : ''" [class]="currentUser && !isShare ? 'col-md-9 ml-sm-auto col-lg-10' : ''">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>