.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: #fff;
    background-color: #428bca;
    height: 70;
    width: 70;
    font-size: 50;
    padding: 10;
    padding-left: 16;
    margin-bottom: 15;
    margin-top: 15;
    border-radius: 100;
}

.sidedrawer .sidedrawer-header {
    background-image: url("~/assets/loginbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10;
}

.sidedrawer-header Button {
    width: 50;
    height: 50;
    color: #fff;
    border-color: transparent;
    font-size: 20;
    vertical-align: top;
}

.sidedrawer-header-brand {
    font-weight: bold;
}

.sidedrawer .sidedrawer-header .sidedrawer-header-brand,
.sidedrawer-header-footnote {
    color: #fff;
}

.sidedrawer .nt-drawer__body .nt-drawer__list-item {
    font-size: 15;
}

.nt-drawer__body {
    background-color: #343a40;
}

.nt-drawer__list-item {
    margin: 0;
    border: 0;
    background-color: transparent;
    color: #fff;
}

.nt-drawer__list-item.active {
    background-color: #428bca;
}

.header-button {
    margin: 0;
}

.header-button.active {
    background-color: #428bca;
}

.cntnr {
    margin-top: 50px;
}

.cntnr,
main {
    max-height: calc(100vh - 50px);
}

.desktop .cntnr {
    margin-top: 30px;
}

.desktop .cntnr,
.desktop .main {
    max-height: calc(100vh - 30px);
}

.fullpage-cntnr,
.fullpage-main {
    max-height: 100vh !important;
    margin-top: 0 !important;
}

.fullpage {
    background-image: url(~assets/loginbg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}