.headline {
  color: white;
  text-align: left;
  display: block;
  margin-left: 1rem;
}

.navbar-right {
  text-align: right;
  display: inline;
}

.nav-item,
.nav-link {
  display: inline;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  margin-right: 0px;
}

.action-bar-title {
  color: white;
}
.navbar {
  z-index: 1300;
}
.mobileNavLinks {
  font-size: 1rem;
}