<nav class="navbar  navbar-expand-lg navbar-dark fixed-top bg-dark p-0 shadow" [class.desktop]="isElectron">
    <a class="navbar-brand col-md-2 col-sm-3" href>
        <button class="navbar-toggler" type="button" (click)="toggleNavOnMobile($event)">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="img-fluid d-inline headerImg mr-2" src="assets/logo/AGM-Tools.png">
        <span class="my-2">
            AGM-Tools
        </span>
        <div class="mobileNavLinks pt-2 float-right d-inline d-sm-none">
            <ul class="navbar-nav d-inline">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users"><i class="mx-3 fas fa-users"></i></a>
                </li>
                <li class="nav-item d-inline">
                    <a class="nav-link" routerLink="/settings"><i class="mx-3 fas fa-cogs"></i></a>
                </li>
                <li class="nav-item d-inline">
                    <a class="nav-link" href="#" (click)="logout()"><i class="mx-3 fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </a>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="headline">
                <h3>{{ headline }}</h3>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users"><i class="mx-3 fas fa-users"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings"><i class="mx-3 fas fa-cogs"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()"><i class="mx-3 fas fa-sign-out-alt"></i></a>
            </li>

            <li class="nav-icon" *ngIf="isElectron">
                <a class="nav-link wi down" (click)="minWindow()">
                  <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23fff'/%3E%3C/svg%3E">
                </a>
              </li>
              
              <li class="nav-icon" *ngIf="isElectron">
                  <a class="nav-link wi" (click)="maxWindow()">
                    <img *ngIf="isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23fff'/%3E%3C/svg%3E">
                    <img *ngIf="!isMaximized" class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23fff'/%3E%3C/svg%3E">
                  </a>
                </li>
                
              <li class="nav-icon" *ngIf="isElectron">
                  <a class="nav-link wi close" (click)="closeWindow()">
                    <img class="window-icon" src="data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23fff'/%3E%3C/svg%3E">
                  </a>
                </li>
        </ul>
    </div>
</nav>