<div *ngIf="tutorial">
    <div class="mycard" *ngFor="let step of tutorial.steps; let index = index">
        <h3>Schritt {{index + 1}}: <i>{{step.title}}</i></h3>
        <p [innerHTML]="getContent(step.content) | safe:'html'"></p>
        <img class="img-fluid" (click)="showImage(index, 1)" *ngIf="step.image1" [src]="'tutorials/files/' + step.image1 | secureRequest | async" alt="Bild 1">
        <img class="img-fluid" (click)="showImage(index, 2)" *ngIf="step.image2" [src]="'tutorials/files/' + step.image2 | secureRequest | async" alt="Bild 2">
        <img class="img-fluid" (click)="showImage(index, 3)" *ngIf="step.image3" [src]="'tutorials/files/' + step.image3 | secureRequest | async" alt="Bild 3">
    </div>
</div>