<div class="mycard" *ngFor="let step of tutorial.steps; let index = index">
    <h3>Schritt {{index + 1}}: <i>{{step.title}}</i></h3>
    <p [innerHTML]="getContent(step.content) | safe:'html'"></p>
    <img class="img-fluid" (click)="showImage(index, 1)" *ngIf="step.image1" [src]="getSrc(step.image1)" alt="Bild">
    <img class="img-fluid" (click)="showImage(index, 2)" *ngIf="step.image2" [src]="getSrc(step.image2)" alt="Bild">
    <img class="img-fluid" (click)="showImage(index, 3)" *ngIf="step.image3" [src]="getSrc(step.image3)" alt="Bild">
</div>