<!--<GridLayout>
    <RadListView [items]="emojis">
        <ng-template let-item="item">
            <StackLayout orientation="vertical">
                <emoji [emoji]="emoji" [size]="emojiSize" [skin]="emojiSkin" [isNative]="emojiIsNative" [set]="emojiSet" [sheetSize]="emojiSheetSize" [forceSize]="emojiForceSize" [tooltip]="emojiTooltip" [backgroundImageFn]="emojiBackgroundImageFn" [hideObsolete]="hideObsolete" (emojiOver)="emojiOver.emit($event)" (emojiLeave)="emojiLeave.emit($event)" (emojiClick)="emojiClick.emit($event)"></emoji>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>-->

<Label text="Das war die RadListView, hier kommt das ngtemplate"></Label>
<!--<ng-template [ngIf]="emojis">
    <ngx-emoji *ngFor="let emoji of emojis; trackBy: trackById" [emoji]="emoji" [size]="emojiSize" [skin]="emojiSkin" [isNative]="emojiIsNative" [set]="emojiSet" [sheetSize]="emojiSheetSize" [forceSize]="emojiForceSize" [tooltip]="emojiTooltip" [backgroundImageFn]="emojiBackgroundImageFn"
        [hideObsolete]="hideObsolete" (emojiOver)="emojiOver.emit($event)" (emojiLeave)="emojiLeave.emit($event)" (emojiClick)="emojiClick.emit($event)"></ngx-emoji>
</ng-template>


<StackLayout *ngIf="emojis && !emojis.length">
    <StackLayout>
        <ngx-emoji [emoji]="notFoundEmoji" size="38" [skin]="emojiSkin" [isNative]="emojiIsNative" [set]="emojiSet" [sheetSize]="emojiSheetSize" [forceSize]="emojiForceSize" [tooltip]="emojiTooltip" [backgroundImageFn]="emojiBackgroundImageFn"></ngx-emoji>
    </StackLayout>
    <Label class="emoji-mart-no-results-label" [text]="i18n.notfound + 'notfound!!!!'"></Label>
</StackLayout>-->