.emoji-picker-container {
    width: 100%;
    height: 300;
    background-color: transparent;
}

.emoji-picker {
    color: #222427;
    background: #fff;
    margin: 10;
}

.emoji-picker-anchors {
    justify-content: space-around;
    font-size: 25;
    padding: 7;
    color: #858585;
    border-bottom-color: #858585;
    border-bottom-style: solid;
    border-bottom-width: 1;
}

.tabViewContainer {
    font-size: 10;
}

.emoji-list-container {
    background-color: #fff;
}