<GridLayout visibility="{{ showEmojiPicker && !showSearch ? 'visible' : 'collapsed' }}" rows=" *, auto" class="emoji-picker-container emoji-list-container">
    <TabView row="0" id="tabViewContainer" class="fas">
        <ng-container *ngFor="let category of categories; let idx=i ndex">
            <StackLayout *tabItem="{title: '', iconSource: '~/assets/emoji-picker/'+category.id+'.png'}">
                <StackLayout *ngIf="category.id=='search'" class="emoji-list-container">
                    <Label text="Suche" textWrap="true" class="m-15 h2 text-left"></Label>
                </StackLayout>
                <StackLayout *ngIf="category.id!='search'" class="emoji-list-container">
                    <RadListView #listView height="250" [items]="category.emojis">
                        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" [spanCount]="perLine" itemHeight="50">
                        </ListViewGridLayout>
                        <ng-template let-emoji="item">
                            <Image class="emoji" (tap)="onEmojiClick(emoji)" [src]="getImgSrc(emoji)"></Image>
                        </ng-template>
                    </RadListView>
                </StackLayout>
            </StackLayout>
        </ng-container>
    </TabView>
    <GridLayout class="bottom-bar" row="1" rows="35" columns="*, *, *">
        <Label class="icon fas" (tap)="toggleSearch()" horizontalAlignment="left" row="0" col="0" text="&#xf002;"></Label>
        <Label class="icon fas" (tap)="changeViewTo('emojis')" horizontalAlignment="center" row="0" col="1" text="&#xf580;"></Label>
        <Label class="icon fas" (tap)="backspace()" horizontalAlignment="right" row="0" col="2" text="&#xf55a;"></Label>
    </GridLayout>
</GridLayout>
<GridLayout rows="auto, * auto" columns="auto, auto" visibility="{{ showEmojiPicker && showSearch ? 'visible' : 'collapsed' }}" class="emoji-search-container">
    <RadListView #searchListView row="0" col="0" colspan="3" height="50" [items]="categories[5].emojis">
        <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
        <ng-template let-emoji="item">
            <Image class="emoji" (tap)="onEmojiClick(emoji)" [src]="getImgSrc(emoji)"></Image>
        </ng-template>
    </RadListView>
    <Label class="icon fas" (tap)="toggleSearch()" row="1" col="0" text="&#xf060;"></Label>
    <TextField hint="Emoji Suchen" text="Ganz viel text, info, info, info..." returnKeyType="search" row="1" col="1">
    </TextField>
    <Label class="icon fas" (tap)="clearSearch()" row="1" col="2" text="&#xf00d;"></Label>
</GridLayout>