.emoji-picker-container {
    width: 100%;
    height: 300;
    background-color: transparent;
}

.emoji-picker,
.emoji-search-container {
    color: #222427;
    background: #fff;
    margin: 10;
}

.emoji-picker-anchors {
    justify-content: space-around;
    font-size: 25;
    padding: 7;
    color: #858585;
    border-bottom-color: #858585;
    border-bottom-style: solid;
    border-bottom-width: 1;
}

.emoji-list-container {
    background-color: #fff;
    .emoji {
        margin: 4;
    }
}

.bottom-bar {
    background-color: rgb(226, 226, 226);
    padding-top: 12;
    padding-bottom: 0;
    padding-left: 15;
    padding-right: 15;
    .icon {
        font-size: 25;
    }
}

.emoji-search-container * {
    border: 1 solid red;
}