<ActionBar class="action-bar" *ngIf="!showingTemplate">
    <NavigationButton *ngIf="!showingTemplate" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem *ngIf="!showingTemplate" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Vorlagen"></Label>
</ActionBar>

<GridLayout rows="*,auto" *ngIf="!showingTemplate">
    <GridLayout rowSpan="2">
        <RadListView #templatesListView height="3000" [items]="templates" selectionBehavior="Press" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" swipeActions="true">
            <ng-template let-template="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout (tap)="showTemplate(i)">
                    <GridLayout rows="auto, auto" columns="auto, *, auto" class="list-group-item">
                        <Label class="list-group-heading" row="0" col="1" [text]="template.name"></Label>
                        <Label row="1" col="1" class="body" [text]="template.description"></Label>
                        <Label row="0" col="2" class="body" [text]="template.type"></Label>
                    </GridLayout>

                    <StackLayout height="1" class="list-group-seperator">
                    </StackLayout>
                </StackLayout>
            </ng-template>
            <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
                <StackLayout id="delete-view" col="2" class="deleteSwipeContainer" (tap)="onRightSwipeClick($event)">
                    <Label text="&#xf1f8;" class="fas swipeLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </RadListView>
    </GridLayout>
    <GridLayout row="1">
        <GridLayout columns="*, auto" row="1">
            <Button col="1" (tap)="openNewModal()" text="+" class="fab-button"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>

<StackLayout *ngIf="showingTemplate">
    <GridLayout rows="36" columns="auto,*,auto" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round" row="0" col="0" (tap)="showingTemplate = false">
        </Button>
        <Label [text]="currentTemplateName" class="text-center action-bar-title" row="0" col="1"></Label>
        <Button row="0" col="2" text="&#xf019;" class="fas no-border round" (tap)="downloadCurrentTemplate()"></Button>
    </GridLayout>
    <ImageSwipe [items]="templatesToShow" imageUrlProperty="imageUrl" 
                (pageChanged)="onPageChanged($event)"
                [pageNumber]="pageNumber" backgroundColor="#000000">
    </ImageSwipe>
</StackLayout>