<button id="newBtn" type="button" class="btn btn-outline-primary" (click)="openNewModal(newTemplateModal)">
    {{'templates.newTemplate' | translate}}
</button>
<br /><br />
<div class="table-responsive">
    <table id="notifications" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{{'general.group' | translate}}</th>
                <th>{{'general.name' | translate}}</th>
                <th>{{'general.description' | translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let template of templates" (click)="show(template, showModal)">
                <td>{{ template.group }}</td>
                <td>{{ template.name }}</td>
                <td markdown ngPreserveWhitespace>{{ template.description }}</td>
                <td>
                    <button class="btn btn-link" (click)="delete(template, $event)">
                        {{'general.delete' | translate}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #showModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'general.template' | translate}}</h4>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
        >
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3>{{ imgTitle }}</h3>
        <img class="img img-fluid" [src]="imgUrl" />
    </div>
</ng-template>

<ng-template #newTemplateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'templates.newTemplate' | translate}}</h4>
        <button
            type="button"
            class="close"
            (click)="modal.dismiss('Cross click')"
        >
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            {{'errors.requiredFieldsMissing' | translate}}
        </div>
        <form [formGroup]="newTemplateForm">
            <div class="form-group">
                <label for="name">{{'general.name' | translate}}: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [placeholder]="'general.name' | translate"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="description">{{'general.description' | translate}}: </label>
                <editor
                [init]="TINYCONFIG"
                    formControlName="description"
                    id="description"
                ></editor>
            </div>
            <br />
            <div class="form-group">
                <label for="group" class="">{{'general.group' | translate}}:</label>
                <input
                    type="text"
                    class="form-control"
                    id="group"
                    formControlName="group"
                    [placeholder]="'templates.groupPlaceholder' | translate"
                />
            </div>
            <app-file-upload
                formControlName="file"
                [progress]="progress"
            ></app-file-upload>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-success"
            (click)="
                !newTemplateForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            "
        >
            {{'general.create' | translate}}
        </button>
    </div>
</ng-template>