<button id="newBtn" type="button" class="btn btn-primary" (click)="openNewModal(newTemplateModal)">
    Neue Vorlage
</button>
<br /><br />
<div class="table-responsive">
    <table id="notifications" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let template of templates" (click)="show(template, showModal)">
                <td>{{ template.type }}</td>
                <td>{{ template.name }}</td>
                <td>{{ template.description }}</td>
                <td>
                    <button class="btn btn-link" (click)="delete(template)">
                        Löschen
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />
<p>
    <small><b>Wichtig:</b> bitte nur die Vorlagen löschen, die auch von Ihnen
        erstellt und veraltet sind.</small
    >
</p>

<ng-template #showModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Vorlage</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3>{{ imgTitle }}</h3>
        <img class="img img-fluid" [src]="imgUrl" />
    </div>
    <!--<div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
        >
            Save
        </button>
    </div>-->
</ng-template>

<ng-template #newTemplateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Neue Vorlage</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="newTemplateForm">
            <div class="form-group">
                <label for="name">Name: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="Name der Vorlage"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="description">Beschreibung: </label>
                <textarea
                    class="form-control"
                    formControlName="description"
                    id="description"
                    placeholder="Beschreibung der Vorlage"
                ></textarea>
            </div>
            <br />
            <div class="form-group">
                <label for="type" class="">Typ:</label>
                <input
                    type="text"
                    class="form-control"
                    id="type"
                    formControlName="type"
                    placeholder="Typ der Vorlage (Logo, Hintergrund, etc.)"
                />
            </div>
            <app-file-upload
                formControlName="file"
                [progress]="progress"
            ></app-file-upload>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="
                !newTemplateForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            "
        >
            Erstellen
        </button>
    </div>
</ng-template>