.login-container {
    background-color: white;
    margin-top: 10%;
}

.login-holder {
    background-image: url(../../../assets/loginbg.jpg);
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container .headline {
    text-align: center;
    text-transform: uppercase;
}

.login-container .headline h2 {
    padding-top: 5%;
    padding-bottom: 10%;
}

img.headerImg {
    max-height: 3rem;
    margin-top: -15px;
}

.desktop .navbar {
    &,
    & * {
        height: 30px;
    }
    & * {
        -webkit-app-region: drag !important;
        cursor: default;
    }
    position: fixed;
    top: 0;
    padding: 0;
    -webkit-app-region: drag !important;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    .nav-link,
    .nav-link * {
        -webkit-app-region: no-drag !important;
        margin-top: 0;
        opacity: 1;
        margin-bottom: 0;
    }
    .nav-link {
        height: 30px;
        padding: 0;
        padding-top: 4px;
        padding-left: 5px;
        padding-right: 5px;
        display: block;
        &.icon {
            padding-top: 3px;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
        }
        &.wi {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0;
            display: block;
            &:not(.close) {
                padding-top: 3px;
            }
            &.down {
                padding-top: 6px;
                margin-left: 1rem;
            }
        }
        &:hover {
            background-color: #ffffff60;
        }
        &.close:hover {
            background-color: red;
        }
    }
    .window-icon {
        height: 12px;
        margin: 9px;
        width: 25px;
    }
}
