.login-container {
    background-color: white;
    margin-top: 10%;
}

.login-holder {
    background-image: url(../../../assets/backgrounds/11.jpg);
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container .headline {
    text-align: center;
    text-transform: uppercase;
    height: 13vh;
}

.login-container .headline h2 {
    padding-top: 5%;
    padding-bottom: 10%;
}
