.page {
	background-image: url("~/assets/loginbg.jpg");
	/*height: 100vh;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
    margin-top: 20%;
    
}
.header {
    font-size: 50;
    text-align: center;
    color: #FFFFFF;
}

.password-reset-label {
    color: #0390fc;
    text-align: right;
    font-size: 20;
    
    padding: 10px;

}
