<button class="btn btn-primary" (click)="newTutorial(newTutorialModal)">{{'tutorials.newTutorial' | translate}}</button>

<div class="row mt-4">
    <div class="col-md-4 col-sm-6 d-flex " routerLink="/tutorial/{{tutorial.id}}" *ngFor="let tutorial of tutorials">
        <div class="card flex-fill mb-3" style="cursor: pointer">
            <div class="card-body">
                <h5 class="card-title">{{tutorial.title}}</h5>
                {{tutorial.description}}
            </div>
            <div class="card-footer">
                <small class="text-muted">{{'general.lastUpdated' | translate:{"time": tutorial.createdAt} }}</small>
                <button class="float-right btn btn-primary p-1 px-2" *ngIf="tutorial.editable" routerLink="/editTutorial/{{tutorial.id}}"><i class="far fa-edit"></i></button>
            </div>
        </div>
    </div>
</div>

<ng-template #newTutorialModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'tutorials.newTutorial' | translate}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            {{'errors.requiredFieldsMissing' | translate}}
        </div>
        <form [formGroup]="newTutorialForm">
            <div class="form-group">
                <label for="title">{{'general.title' | translate}}: </label>
                <input type="text" class="form-control" id="title" formControlName="title" [placeholder]="'general.title' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="description">{{'general.description' | translate}}: </label>
                <textarea class="form-control" id="description" formControlName="description" [placeholder]="'general.description' | translate"></textarea>
            </div>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="
                !newTutorialForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            ">
            {{'general.create' | translate}}
        </button>
    </div>
</ng-template>