.muted {
    font-weight: normal;
    opacity: 0.4;
    font-size: 20;
}

.grey {
    color: rgb(143, 143, 143);
}

.unread {
    text-align: center;
    min-width: 20;
    min-height: 20;
    color: white;
}

$lightgreen: #25d366;
.unread {
    font-size: 11;
    padding-top: 2;
    border-radius: 50%;
    background-color: $lightgreen;
}

.time {
    &-unread {
        color: $lightgreen;
    }
    color: rgb(143, 143, 143);
    font-size: 12;
}

.check.blue {
    color: #52c5f7;
}

.check {
    margin-right: 5;
}


/* Browser */

.browser #contacts li {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 4px;
    cursor: pointer;
    padding: 5px;
}

.browser .latestmessage {
    margin: 0 0 10px 29px;
    color: #6b6969;
    font-size: 0.8em;
}

.browser .contact {
    border-bottom: 1px solid lightgrey;
}

.notoppadding {
    padding-top: 0;
}

.contactsidebar {
    padding-top: 44px;
    background-color: rgba(255, 255, 255, 0.9);
}

.main-messages {
    overflow-y: scroll;
    height: 100vh;
    margin-top: 45px;
}

.browser .active {
    background-color: rgb(255, 255, 255) !important;
    cursor: default !important;
}

.browser .avatar {
    width: 40px !important;
    margin-right: 12px;
}

.browser .contactHeader {
    margin-top: 48px;
    background-color: #368e22;
}

.browser .altcontact {
    cursor: pointer;
    height: 4em;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    vertical-align: middle;
    margin: 0px;
    margin-right: 20px;
}

.browser .contact:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.browser .avatar {
    width: 30px;
    padding-right: 4px;
}

.browser .avatar {
    padding: 5px;
    border-radius: 50%;
}

.browser #messages {
    height: 100%;
    margin-bottom: 20px;
    overflow-y: hidden; // Only add scroll to vertical column
}

.browser .main {
    padding-left: 5px;
}

.browser .addon {
    height: 15px;
    width: 15px;
    background-size: 15px 15px;
    margin-left: 4px;
}

.contact>.badge {
    margin-top: 20px;
    right: 50px !important;
}

.browser .contact>.badge-newMes {
    background-color: #3ece3b;
}

.browser .chooseContact {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    display: inline;
}

.bgimg {
    background-image: url(~/assets/backgrounds/11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -10;
}