<button
    id="newBtn"
    type="button"
    (click)="openNewModal(content)"
    class="btn btn-primary"
>
    Neues Projekt
</button>

<div class="row mt-4">
    <div class="col-md-3 col-sm-6 card ml-3 mb-3 px-0" *ngFor="let project of projects">
        <img [src]="getProjectImageSrc(project)" class="card-img project-image" alt="">
        <div class="card-img-overlay">
            <div ngbDropdown class="d-inline-block float-right">
                <button class="btn btn-outline-none text-primary p-1" ngbDropdownToggle><i class="fas fa-cog"></i></button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem class="btn btn-link text-primary btn-primary" (click)="update(project, updateModal)">Bearbeiten</button>
                    <button ngbDropdownItem class="btn btn-link text-danger btn-danger" (click)="delete(project)">Löschen</button>
                </div>
            </div>
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
        </div>
        <div class="alert alert-info  mb-0" *ngFor="let tipp of project.tipps">{{tipp}}</div>
        <div class="list-group list-group-flush">
            <a [routerLink]="['/', 'chat', 'project', project.id]" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Chat</h5>
                    <small>{{project.chat.lastUpdated}}</small>
                </div>
                <div>
                    <span class="float-right badge badge-normal badge-primary" *ngIf="project.chat.number > 0">{{project.chat.number}}</span>
                    <small class="mb-1 mr-4 truncate">{{project.chat.text}}</small>
                </div>
            </a>
            
            <a [routerLink]="['/', 'files', project.id, project.name]" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Dateien</h5>
                    <small>{{project.files.lastUpdated}}</small>
                </div>
                <div>
                    <span class="float-right badge badge-normal badge-primary" *ngIf="project.files.number > 0">{{project.files.number}}</span>
                    <small class="mb-1 mr-4 truncate">{{project.files.text}}</small>
                </div>
            </a>
                
            <a [routerLink]="['/', 'tasks', project.id]" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Aufgaben</h5>
                    <small>{{project.tasks.lastUpdated}}</small>
                </div>
                <div>
                    <span class="float-right badge badge-normal badge-primary" *ngIf="project.tasks.number > 0">{{project.tasks.number}}</span>
                    <small class="mb-1 mr-4 truncate">{{project.tasks.text}}</small>
                </div>
            </a>

            <a [routerLink]="['/', 'tutorials', project.id]" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tutorials</h5>
                    <small>{{project.tutorials.lastUpdated}}</small>
                </div>
                <div>
                    <span class="float-right badge badge-normal badge-primary" *ngIf="project.tutorials.number > 0">{{project.tutorials.number}}</span>
                    <small class="mb-1 mr-4 truncate">{{project.tutorials.text}}</small>
                </div>
            </a>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Neues Projekt</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="newProjectForm">
            <div class="form-group">
                <label for="name">Name: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="Name des Projekts"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="description">Beschreibung: </label>
                <textarea
                    class="form-control"
                    formControlName="description"
                    id="description"
                    placeholder="Beschreibung des Projekts"
                ></textarea>
            </div>
            <br />
            <div class="form-group">
                <label for="users" class="">Mitglieder:</label>
                <select
                    multiple
                    class="custom-select"
                    formControlName="users"
                >
                    <option
                        *ngFor="let user of allusers"
                        value="{{ user.id }}"
                        >{{ user.username }}</option
                    >
                </select>
            </div>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="
                !newProjectForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            "
        >
            Erstellen
        </button>
    </div>
</ng-template>

<ng-template #updateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Projekt aktualisieren</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="updateProjectInvalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="updateProjectForm">
            <div class="form-group">
                <label for="name">Name: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="Name des Projekts"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="description">Beschreibung: </label>
                <textarea
                    class="form-control"
                    formControlName="description"
                    id="description"
                    placeholder="Beschreibung des Projekts"
                ></textarea>
            </div>
            <br />
            <div class="form-group">
                <label for="users" class="">Mitglieder:</label>
                <select
                    multiple
                    class="custom-select"
                    formControlName="users"
                >
                    <option
                        *ngFor="let user of allusers"
                        value="{{ user.id }}"
                        >{{ user.username }}</option
                    >
                </select>
            </div>
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="
                !updateProjectForm.invalid
                    ? modal.close('Save click')
                    : (updateProjectInvalidMessage = true)
            "
        >
            Aktualisieren
        </button>
    </div>
</ng-template>
