a.nav-link.active {
  color: #fff;
  background-color: #428bca;
}

a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  background-color: #428bcaa4;
}
a.nav-link.active:hover {
  background-color: #428bca;
}

.sidebar {
  z-index: 1100;
}
