<nav class="col-md-2 d-md-block bg-dark sidebar" [class.d-none]="!showNav">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let navLink of navLinks">
                <a
                    *ngIf="!navLink.separator"
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="{{ navLink.target }}"
                    (click)="hideNav()"
                >
                    <i class="fa fa-{{ navLink.icon }}"></i>
                    {{ navLink.name }}
                </a>
                <span *ngIf="navLink.separator" class="mt-2 nav-link border-top border-primary"></span>
            </li>
        </ul>
    </div>
</nav>
