a.nav-link.active {
  color: #fff;
  background-color: #428bca;
}

a.nav-link {
  color: #428bca;
}

a.nav-link:hover {
  background-color: #e7e7e7;
}
a.nav-link.active:hover {
  background-color: #428bca;
}
