<GridLayout rows="auto, *">
    <GridLayout row="0" rows="36" columns="auto,*" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round action-bar-button" row="0" col="0" (tap)="goBack()">
        </Button>
        <Label [text]="'chat.chooseContact' | translate" class="text-center action-bar-title" row="0" col="1"></Label>
    </GridLayout>

    <ListView row="1" [items]="contacts" #contactsList>
        <ng-template let-item="item" let-index="index">
            <GridLayout rows="auto, auto" columns="55 *" class="list-item" (tap)="onContactSelect(item)">
                <Image row="0" col="0" rowspan="2" *ngIf="item.thumbnail" [src]="item.thumbnail" class="thumbnail"></Image>
                <Label row="0" col="0" rowspan="2" *ngIf="!item.thumbnail" [text]="getInitialsFromName(item.display_name)" [backgroundColor]="getRandomColor()" class="thumbnail-awesome"></Label>
                <Label row="0" col="1" [text]="item.display_name" class="contact-name"></Label>
                <Label row="1" col="1" [text]="item.phone[0].number" class="contact-number"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>