<StackLayout>
    <GridLayout rows="36" columns="auto,*,auto" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round action-bar-button" row="0" col="0" (tap)="goBack()">
        </Button>
        <Label text="Neuer Termin" class="text-center action-bar-title" row="0" col="1"></Label>
        <Button row="0" col="2" text="&#xf0c7;" class="fas no-border round action-bar-button" (tap)="close()"></Button>
    </GridLayout>
    <RadDataForm class="dataform" #dataform [metadata]="dataFormConfig" [source]="event"></RadDataForm>
    <Label class="form-info-message" [textWrap]="true" text="Alle Benutzer werden durch eine Benachrichtigung über diesen neuen Termin informiert."></Label>

    <TextField hint="Start" class="form-input-field" [(ngModel)]="startDate" (tap)="pick('start')" editable="false">
    </TextField>
    <Label class="form-error-message" [textWrap]="true" text="Kein gültiger Beginn ausgewählt!" *ngIf="startDateInvalidMessage"></Label>

    <TextField hint="Ende" class="form-input-field" [(ngModel)]=" endDate" (tap)="pick('end')" editable="false">
    </TextField>
    <Label class="form-error-message" [textWrap]="true" text="Kein gültiges Ende ausgewählt!" *ngIf="endDateInvalidMessage"></Label>

    <Label class="form-error-message" [textWrap]="true" text="Das Ende des Termins liegt vor dem Beginn!" *ngIf="endDateBeforeStartDateInvalidMessage"></Label>
</StackLayout>