<StackLayout>
    <GridLayout rows="36" columns="auto,*,auto" class="action-bar p-10">
        <Button text="&#xf060;" class="fas no-border round" row="0" col="0" (tap)="goBack()">
        </Button>
        <Label text="Neue Benachrichtigung erstellen" class="text-center action-bar-title" row="0" col="1"></Label>
        <Button row="0" col="2" text="&#xf1d8;" class="fas no-border round" (tap)="close()"></Button>
    </GridLayout>
    <RadDataForm class="dataform" #dataform [metadata]="dataFormConfig" [source]="notification"></RadDataForm>
    <Label class="form-error-message" text="Keine Wichtigkeit gewählt!" *ngIf="noTypeSelectedErrorMessage"></Label>
    <Button class="btn btn-primary" text="Empfänger auswählen" (tap)="openReceiversSelectMenu()"></Button>
    <Label class="form-error-message" text="Keine Empfänger gewählt!" *ngIf="noReceiversSelectedErrorMessage"></Label>

</StackLayout>