.deleteSwipeContainer {
    background-color: #e74c3c;
    padding: 16;
}

.swipeLabel {
    size: 50;
    color: #ffffff;
}

.list-group-item {
    padding: 10;
    background-color: #ffffff;
}

.list-group-item .list-group-heading {
    font-size: 20;
}

.list-group-seperator {
    background-color: #a8a8a8;
}