<button
    id="newBtn"
    type="button"
    (click)="openNewModal(newUserModal)"
    class="btn btn-primary"
>
    Neuer Benutzer
</button>
&nbsp;
<button
    id="editBtn"
    type="button"
    (click)="openEditModal(editUserModal)"
    class="btn btn-primary"
>
    Eigene Daten ändern
</button>
<br /><br />
<div class="table-responsive">
    <table id="users" class="table  table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Benutzergruppe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <!--<ng-template #tipContent>Darf:<br> <b>{{user.usergroup.name}}</b>!</ng-template> [ngbTooltip]="tipContent" -->
                <td><span>{{ user.usergroup.name }}</span></td>

                <td>
                    <button class="btn text-danger btn-link" (click)="deleteUser(user)">
                        Löschen
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #newUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Neuer Benutzer</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="newUserForm">
            <div class="form-group">
                <label for="name">Benutzername: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="Benutzername"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="email">Email: </label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="E-Mail Adresse"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="password1">Passwort: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password1"
                    formControlName="password1"
                    placeholder="Passwort"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="password2">Passwort wiederholen: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password2"
                    formControlName="password2"
                    placeholder="Passwort erneut eingeben"
                />
            </div>
            <br />
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="
                !newUserForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            "
        >
            Erstellen
        </button>
    </div>
</ng-template>

<ng-template #editUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eigene Daten ändern</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
        </div>
        <form [formGroup]="editUserForm">
            <div class="form-group">
                <label for="name">Benutzername: </label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="editUserName"
                    placeholder="Benutzername"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="email">Email: </label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="editUserEmail"
                    placeholder="E-Mail Adresse"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="password">Altes Passwort: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="editUserPasswordOld"
                    placeholder="Altes Passwort"
                />
            </div>
            <div class="alert alert-info">
                Bei Änderungen muss immer das alte Passwort zusätzlich
                angeben werden!
            </div>
            <br />
            <div class="form-group">
                <label for="password1">Neues Passwort: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password1"
                    formControlName="editUserPassword1"
                    placeholder="Neues Passwort"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="password2">Neues Passwort wiederholen: </label>
                <input
                    type="password"
                    class="form-control"
                    id="password2"
                    formControlName="editUserPassword2"
                    placeholder="Neues Passwort erneut eingeben"
                />
            </div>
            <br />
            <br />
        </form>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-success"
            (click)="
                !editUserForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            "
        >
            Übernehmen
        </button>
    </div>
</ng-template>
