<div class="mycard top">
    <h3>{{"general.general" | translate}}</h3>
    <div *ngIf="invalidMessage" class="alert alert-danger">
        <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
    </div>
    <form [formGroup]="tutorialForm">
        <div class="form-group">
            <label for="title">{{"general.title" | translate}}: </label>
            <input type="text" class="form-control" id="title" formControlName="title"
                [placeholder]="'general.title' | translate" />
        </div>
        <br />
        <div class="form-group">
            <label for="description">{{"general.description" | translate}}: </label>
            <editor [init]="tinyConfigService.get()" formControlName="description" id="description"></editor>
        </div>
    </form>
    <button type="button" class="btn btn-outline-primary" (click)="addStep()">
        {{"tutorials.addStep" | translate}}
    </button> &nbsp;
    <button type="button" class="btn btn-outline-success" (click)="
        !tutorialForm.invalid
            ? updateGeneral()
            : (invalidMessage = true)
    ">
        {{"general.save" | translate}}
    </button>
</div>

<div class="mycard" *ngFor="let step of (tutorial ? tutorial.steps : []); let index = index">
    <h3 class="d-inline">{{"tutorials.stepNr" | translate:{"nr": (index + 1)} }}: <i>{{step.title}}</i></h3>
    <button class="d-inline btn btn-link" (click)="deleteStep(index)">{{"tutorials.removeStep" | translate}}</button>
    <div class="form-group">
        <label for="title">{{"general.title" | translate}}: </label>
        <input type="text" class="form-control" [(ngModel)]="step.title" [placeholder]="'general.title' | translate" />
    </div>
    <br />
    <div class="form-group">
        <label for="description">{{'general.content' | translate}}: </label>
        <editor [init]="tinyConfigService.get()" [(ngModel)]="step.content"></editor>
    </div>
    <div>
        <h6>{{'general.image' | translate}} 1:</h6>
        <span *ngIf="step.uploadingImage1"><i class="fa fa-spin fa-spinner"></i>
            {{'general.uploading' | translate}}</span>
        <img *ngIf="step.image1" [src]="getFileSrc(step.image1)" [alt]="'general.image' | translate">
        <button *ngIf="step.image1 && !step.uploadingImage1" class="btn btn-link"
            (click)="deleteImage(index, 1)">{{'tutorials.removeImage' | translate}}</button>
        <add-image *ngIf="!step.image1" (image)="uploadImage($event, index, 1)"></add-image>

        <h6>{{'general.image' | translate}} 2:</h6>
        <span *ngIf="step.uploadingImage2"><i class="fa fa-spin fa-spinner"></i>
            {{'general.uploading' | translate}}</span>
        <img *ngIf="step.image2" [src]="getFileSrc(step.image2)" [alt]="'general.image' | translate">
        <button *ngIf="step.image2 && !step.uploadingImage2" class="btn btn-link"
            (click)="deleteImage(index, 2)">{{'tutorials.removeImage' | translate}}</button>
        <add-image *ngIf="!step.image2" (image)="uploadImage($event, index, 2)"></add-image>

        <h6>{{'general.image' | translate}} 3:</h6>
        <span *ngIf="step.uploadingImage3"><i class="fas fa-spin fa-spinner"></i>
            {{'general.uploading' | translate}}</span>
        <img *ngIf="step.image3" [src]="getFileSrc(step.image3)" [alt]="'general.image' | translate">
        <button *ngIf="step.image3 && !step.uploadingImage3" class="btn btn-link"
            (click)="deleteImage(index, 3)">{{'tutorials.removeImage' | translate}}</button>
        <add-image *ngIf="!step.image3" (image)="uploadImage($event, index, 3)"></add-image>
    </div>
</div>


<div class="mycard">
    <button type="button" class="btn btn-outline-primary" (click)="addStep()">
        {{'tutorials.addStep' | translate}}
    </button> &nbsp;
    <button type="button" class="btn btn-outline-success" (click)="updateSteps()">
        {{'general.save' | translate}}
    </button>
</div>