.mycard {
    padding: 40px;
    width: 45%;
    float: left;
    border: 1px solid #d6d6d6;
    border-radius: 5;
    margin: 10px;
}

.mycard.top {
    background-color: #cfeff8;
}

.mycard img {
    max-height: 100px;
}

.removeImageBtn {
    position: relative;
    right: 25px;
    top: 0;
    display: none;
}

.stepImg:hover .removeImageBtn {
    display: block;
}
.stepImg:hover img{
    opacity: 0.5;
}

.stepImg {
    width: fit-content;
    height: fit-content;
}