<div class="mycard top">
    <h3>Allgemeines</h3>
    <div *ngIf="invalidMessage" class="alert alert-danger">
        <b>Fehler!</b><br />Bitte füllen Sie alle Felder aus!
    </div>
    <form [formGroup]="tutorialForm">
        <div class="form-group">
            <label for="title">Titel: </label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titel des Tutorials" />
        </div>
        <br />
        <div class="form-group">
            <label for="description">Beschreibung: </label>
            <textarea class="form-control" id="description" formControlName="description" placeholder="Kurze Beschreibung des Inhalts"></textarea>
        </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="addStep()">
        Schritt hinzufügen
    </button> &nbsp;
    <button type="button" class="btn btn-success" (click)="
        !tutorialForm.invalid
            ? updateGeneral()
            : (invalidMessage = true)
    ">
    Speichern
    </button>
</div>

<div class="mycard" *ngFor="let step of tutorial.steps; let index = index">
    <h3 class="d-inline">Schritt {{index + 1}}: <i>{{step.title}}</i></h3>
    <button class="d-inline btn btn-link" (click)="deleteStep(index)">Schritt löschen</button>
    <div class="form-group">
        <label for="title">Titel: </label>
        <input type="text" class="form-control" [(ngModel)]="step.title" placeholder="Titel des Tutorials" />
    </div>
    <br />
    <div class="form-group">
        <label for="description">Inhalt: </label>
        <textarea class="form-control" [(ngModel)]="step.content" placeholder="Kurze Beschreibung des Inhalts"></textarea>
    </div>
    <div>
        <h6>Bild 1:</h6>
        <span *ngIf="step.uploadingImage1">Hochladen...</span>
        <img *ngIf="step.image1" [src]="'tutorials/files/' + step.image1 | secureRequest | async" alt="Bild">
        <button *ngIf="step.image1" class="btn btn-link" (click)="deleteImage(index, 1)">Bild löschen</button>
        <div *ngIf="!step.image1" class="form-group">
            <div class="custom-file">
                <input type="file" (change)="uploadImage($event.target.files, index, 1)" class="custom-file-input" id="customFile">
                <label class="custom-file-label">Bild hochladen</label>
            </div>
        </div>
        <h6>Bild 2:</h6>
        <span *ngIf="step.uploadingImage2">Hochladen...</span>
        <img *ngIf="step.image2" [src]="'tutorials/files/' + step.image2 | secureRequest | async" alt="Bild">
        <button *ngIf="step.image2" class="btn btn-link" (click)="deleteImage(index, 2)">Bild löschen</button>

        <div *ngIf="!step.image2" class="form-group">
            <div class="custom-file">
                <input type="file" (change)="uploadImage($event.target.files, index, 2)" class="custom-file-input" id="customFile">
                <label class="custom-file-label">Bild hochladen</label>
            </div>
        </div>
        <h6>Bild 3:</h6>
        <span *ngIf="step.uploadingImage3">Hochladen...</span>
        <img *ngIf="step.image3" [src]="'tutorials/files/' + step.image3 | secureRequest | async" alt="Bild">
        <button *ngIf="step.image3" class="btn btn-link" (click)="deleteImage(index, 3)">Bild löschen</button>

        <div *ngIf="!step.image3" class="form-group">
            <div class="custom-file">
                <input type="file" (change)="uploadImage($event.target.files, index, 3)" class="custom-file-input" id="customFile">
                <label class="custom-file-label">Bild hochladen</label>
            </div>
        </div>
    </div>
</div>

<div class="mycard">
    <button type="button" class="btn btn-primary" (click)="addStep()">
        Schritt hinzufügen
    </button> &nbsp;
    <button type="button" class="btn btn-success" (click)="updateSteps()">
        Speichern
    </button>
</div>
