<div class="holder">
    <main class="container text-center">
        <img class="logo img-fluid" src="../../../assets/logo/logo3.png">
        <div class="jumbotron bg-light mb-0">
            <div *ngIf="file">
                <h1>{{'share.share' | translate}}: <i>{{file.name}}</i></h1>
                <p class="lead">{{ (file.isFolder ? 'share.sharedFolder' : 'share.sharedFile') | translate}}</p>
                <a class="btn btn-lg m-auto btn-outline-primary" target="_blank" [href]="getSrc()">{{'files.download' | translate}}</a>
            </div>
            <div *ngIf="!file">
                <h2>{{'general.loading' | translate}}</h2>
            </div>
        </div>
        <div class="bg-light p-4 mt-0">
            <a class="text-dark" target="_blank" href="https://github.com/hrueger/AGM-Tools">&copy; H. Rüger, {{ year }} - <img class="githublogo img-fluid" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></a>
        </div>
    </main>
</div>